<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginVerification</servlet-name>
        <servlet-class>LoginVerification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteExam</servlet-name>
        <servlet-class>WriteExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartExam</servlet-name>
        <servlet-class>StartExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Previous</servlet-name>
        <servlet-class>Previous</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Next</servlet-name>
        <servlet-class>Next</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndExam</servlet-name>
        <servlet-class>EndExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Process</servlet-name>
        <servlet-class>Process</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Review</servlet-name>
        <servlet-class>Review</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewProcess</servlet-name>
        <servlet-class>ReviewProcess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginVerification</servlet-name>
        <url-pattern>/Login_Verification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteExam</servlet-name>
        <url-pattern>/Write_Exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartExam</servlet-name>
        <url-pattern>/Start_Exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Previous</servlet-name>
        <url-pattern>/Previous</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Next</servlet-name>
        <url-pattern>/Next</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndExam</servlet-name>
        <url-pattern>/End_Exam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Process</servlet-name>
        <url-pattern>/Process</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewProcess</servlet-name>
        <url-pattern>/Review_Process</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>Initialize</listener-class>
    </listener>
</web-app>
